<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="#">Student</a>
    <button type="button" class="btn btn-primary" (click)="openModal()">Add</button>
  </div>
</nav>


<!-----------------sorting--------------->

<div class="container d-flex justify-content-between align-items-center mb-3">
  <div class="d-flex">
    <mat-form-field>
      <mat-label>Sort By</mat-label>
      <mat-select [(value)]="selectedSort" (selectionChange)="sortStudents()">
        <mat-option value="id">ID</mat-option>
        <mat-option value="email">Email</mat-option>
        <mat-option value="name">Name</mat-option>
      </mat-select>
    </mat-form-field>
&nbsp;&nbsp;&nbsp;
    <mat-form-field class="ml-2">
      <mat-label>Sort Order</mat-label>
      <mat-select [(value)]="selectedSortOrder" (selectionChange)="sortStudents()">
        <mat-option value="asc">Ascending</mat-option>
        <mat-option value="desc">Descending</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="d-flex">
    <input class="form-control form-control-sm mr-2 me-2" type="search" placeholder="Search" [(ngModel)]="searchQuery" aria-label="Search">
    <button class="btn btn-success" type="button" (click)="searchStudents()">Search</button>
  </div>
</div>



<!-- --------Searching-------- -->
<!-- <mat-form-field class="example-full-width">
  <input matInput placeholder="Search" [(ngModel)]="searchQuery">
</mat-form-field>
<button mat-raised-button color="primary" (click)="searchStudents()">Search</button> -->



<!----------------userlist----------------------->
<div class="container-fluid">
  <div class="container">
    <div class="container-fluid">
      <table class="table table-striped table-hover">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Email</th>
            <th scope="col">Name</th>
            <th scope="col">Password</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let student of students$ | async ">
            <th scope="row">{{ student.id }}</th>
            <td>{{ student.email }}</td>
            <td>{{ student.name }}</td>
            <td>{{ student.password }}</td>
            <td>
              <button class="btn btn-info btn-sm me-2" (click)="openModal(student)">Edit</button>
              <button class="btn btn-danger btn-sm" (click)="deleteStudent(student)">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="paginator-container">
        <mat-paginator [length]="totalStudents" [pageSize]="5" [pageSizeOptions]="pageSizeOptions" (page)="onPageChange($event)">
        </mat-paginator>
      </div>
    </div>
  </div>
</div>
